<ion-header>
  <ion-toolbar>
    <ion-title>Sentimento</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Como você está se sentindo?</ion-label>
    <ion-input [(ngModel)]="sentimento" placeholder="Digite seu sentimento" (ionInput)="verificarSentimento()"></ion-input>
  </ion-item>

  <div *ngIf="sugestoes.length > 0" class="sugestoes">
    <ion-list>
      <ion-item *ngFor="let sugestao of sugestoes" (click)="selecionarSugestao(sugestao)">
        {{ sugestao }}
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="versiculo" class="resultado-versiculo">
    <div class="voz">
      <ion-icon (click)="lerTexto(versiculo)" name="volume-high"></ion-icon>
    </div>
    <p>{{ versiculo }}</p>
  </div>

  <div *ngIf="mensagemErro" class="mensagem-erro">
    <p>{{ mensagemErro }}</p>
  </div>

  <ion-button expand="full" (click)="gerarReflexao()">Quero uma reflexão</ion-button>
</ion-content>
