.modal-header {
  background-color: #f8f9fa;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 1rem;
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.modal-footer {
  text-align: justify;
}

