.modal-header {
  background-color: #f8f9fa;
  padding: 1rem;
  display: flex;
  justify-content: space-between;

}

.modal-body {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  // padding: 1rem;
  .input-wrapper{
    display: flex;
    flex-direction: column;
  }
}

button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.modal-footer {
  text-align: justify;
}

.reflexao{
  height: auto
}

ion-content {
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 16px;
  --padding-bottom: 16px;
}

.reflexao-container {
  border: 1px solid #ccc;
  padding: 8px;
  margin-top: 16px;
  border-radius: 4px;
  background-color: #f9f9f9;
}
