<ion-header>
  <ion-toolbar class="modal-header">
    <ion-title class="modal-title">Emoção</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/" (click)="closeModal()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-label position="stacked">Como você está se sentindo?</ion-label>
    <ion-input #sentimentoInput [(ngModel)]="termoBusca" placeholder="Digite seu sentimento" (ionInput)="buscarEmocao()"></ion-input>
  </div>

  <div class="modal-body" (pinch)="onPinch($event)">
    <div style="display: flex; flex-direction: column;">
      <div *ngIf="versiculo">
        <p><strong>Versículo:</strong> {{ versiculo }}</p>
        <button *ngIf="!reflexao || reflexao.length === 0" (click)="mostrarReflexao()">Quero uma reflexão</button>
      </div>
      <div *ngIf="mensagemErro2">
        <p><strong>{{ mensagemErro2 }}</strong> {{ versiculo }}</p>
        <button *ngIf="!reflexao || reflexao.length === 0" (click)="mostrarReflexao()">Quero uma reflexão</button>
      </div>
      <div *ngIf="reflexao && reflexao.length > 0" class="modal-footer">
        <ion-icon (click)="lerVersiculo(reflexao)" name="volume-high"></ion-icon>
        <div id="reflexao" class="reflexao-container" [style.fontSize.px]="fontSize">
          <p><strong>Reflexão:</strong></p>
          <div *ngFor="let paragrafo of reflexao">
            <p>{{ paragrafo }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Botões para ajustar o tamanho da fonte -->
  <div class="font-size-controls">
    <ion-button (click)="aumentarFonte()">A+</ion-button>
    <ion-button (click)="diminuirFonte()">A-</ion-button>
  </div>
</ion-content>
