.versiculoNotificacao{
  margin: 12px 24px 24px 24px;
  padding: 24px;
  display: flex;
  justify-content: center;
  text-align: justify;
  color: #000;
  border-radius: 25px;
}

.btnVerReflexao{
  display: flex;
  margin-left: 24px;
  margin-right: 24px;
}

.modal-footer {
  text-align: justify;
}

.reflexao-container {
  border: 1px solid #ccc;
  padding: 8px;
  margin: 16px 24px 24px 24px;
  border-radius: 4px;
  background-color: #f9f9f9;
}
