.lido {
  color: rgb(226, 223, 223); /* Muda a cor do texto */
}


.marcado {
  background-color:rgb(226, 223, 223); /* Cor do marca-texto */
  // padding: 0.2em; /* Um pouco de espaço ao redor do texto */
  // border-radius: 3px; /* Cantos arredondados */
}

.formataTexto {
  font-size: 1.2em; /* Aumenta o tamanho do texto */
  margin: 4px;
}

.highlight {
  background-color: rgba(46, 46, 44, 0.082); /* ou outra cor que você preferir */
}

.marked {
  background-color: rgb(43, 255, 0); /* Cor de marca texto */
}

.versiculo ion-icon {
  color: #000000 !important;
  font-size: 16px !important;
  // padding: 8px !important;
  display: flex ;
  align-items: center !important;
    // width: 16px !important;
    // height: 16px !important;
    // margin-right: 10px;
}

.versiculo {
  color: #000000 !important;
  font-size: 16px !important;
  padding: 8px !important;
  display: flex ;
  align-items: center !important;
    // margin-right: 10px;
}

.voz{
  width: 16px !important;
  height: 16px !important;
  margin-right: 12px;
}

.format{
  text-align: justify;
  margin-right: 16px;
}

.versiculo p {
  color: black; /* Cor padrão */
  text-decoration: none !important;
  margin: 8px 0px !important;
}

.lendo p {
  color: blue; /* Cor quando o versículo está sendo lido */
}

.lido p {
  color: green; /* Cor após o versículo ser lido */
  background-color: rgb(206, 202, 202);
}

.marcado {
  // border: 2px solid gold; /* Exemplo de marcador */
}

.alinha-botao{
  margin: 16px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-controle{
  width: 24px;
  height: 24px;
}

ion-icon {
  width: 24px !important;
  height: 24px !important;
}

p{
  margin: 4px 16px;
  text-align: justify;
}
