<ion-header>
  <ion-toolbar>
    <!-- <ion-icon (click)="lerVersiculo('{{ livro }} capítulo {{ capitulo }}')" name="volume-high"></ion-icon> -->
    <ion-title>{{ livro }} {{ capitulo }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card *ngFor="let versiculo of versiculos"
              [ngClass]="{'highlight': isVersiculoFocado(versiculo), 'marked': versiculo.marcado}"
              (click)="toggleMarcacao(versiculo)">
      <div class="versiculo" style="display: flex; align-items: center;">
        <div class="voz">
          <ion-icon (click)="lerVersiculo(versiculo.text)" name="volume-high"></ion-icon>
        </div>
        <p class="format">{{ versiculo.verse }}: {{ versiculo.text }}</p>
      </div>
    </ion-card>
  </ion-list>
</ion-content>

