<ion-header>
  <ion-toolbar>
    <!-- <ion-icon (click)="lerVersiculo('{{ livro }} capítulo {{ capitulo }}')" name="volume-high"></ion-icon> -->
    <ion-title>{{ livro }} {{ capitulo }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-list>
    <ion-item *ngFor="let versiculo of versiculos">
      <ion-checkbox [(ngModel)]="versiculo.lido"></ion-checkbox> Checkbox para marcar como lido
      <h2>{{ versiculo.verse }}: {{ versiculo.text }}</h2>
    </ion-item>
  </ion-list>
</ion-content> -->


<!-- <ion-content>
  <ion-list>
    <ion-item class="formataTexto" *ngFor="let versiculo of versiculos" (click)="toggleMarcacao(versiculo)">
      <div [class.marcado]="versiculo.marcado">{{ versiculo.verse }}: {{ versiculo.text }}</div>
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-content>
  <ion-list>
    <div [class.marcado]="versiculo.marcado" *ngFor="let versiculo of versiculos"
      [ngClass]="{
        'highlight': isVersiculoFocado(versiculo),
        'lendo': versiculoAtual === versiculo,
        'lido': versiculo.lido
      }"
      (click)="toggleMarcacao(versiculo)" style="display: flex; align-items: center;">
          <!-- <div class="voz">
            <ion-icon (click)="lerVersiculo(versiculo.text, versiculo)" name="volume-high"></ion-icon>
          </div> -->
          <p>{{ versiculo.verse }}: {{ versiculo.text }}</p>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-list>
    <div class="alinha-botao">
      <div class="btn-controle" (click)="voltarVersiculo()">
        <ion-icon name="play-back-circle-outline"></ion-icon>
      </div>
      <div class="btn-controle" (click)="pararLeitura()">
        <ion-icon name="stop-circle-outline"></ion-icon>
      </div>
      <div class="btn-controle" (click)="playPauseLeitura()">
        <ion-icon [name]="lendo ? 'play-skip-forward-circle-outline' : 'play-circle-outline'"></ion-icon>
      </div>
      <div class="btn-controle" (click)="avancarVersiculo()">
        <ion-icon name="play-forward-circle-outline"></ion-icon>
      </div>
      <!-- Botão de repetição -->
      <div class="btn-controle" (click)="toggleRepeticao()">
        <ion-icon name="repeat-outline"></ion-icon>
      </div>
    </div>
  </ion-list>
</ion-footer>
