<ion-header>
  <ion-toolbar>
    <!-- <ion-icon (click)="lerVersiculo('{{ livro }} capítulo {{ capitulo }}')" name="volume-high"></ion-icon> -->
    <ion-title>{{ livro }} {{ capitulo }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="fecharModal()">Fechar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  <ion-list>
    <ion-item *ngFor="let versiculo of versiculos">
      <ion-checkbox [(ngModel)]="versiculo.lido"></ion-checkbox>  Checkbox para marcar como lido
      <h2>{{ versiculo.verse }}: {{ versiculo.text }}</h2>
    </ion-item>
  </ion-list>
</ion-content> -->

<!--
<ion-content>
  <ion-list>
    <ion-item class="formataTexto" *ngFor="let versiculo of versiculos" (click)="toggleMarcacao(versiculo)">
      <div [class.marcado]="versiculo.marcado">{{ versiculo.verse }}: {{ versiculo.text }}</div>
    </ion-item>
  </ion-list>
</ion-content> -->

<ion-content #content>
  <ion-list>
    <ion-card *ngFor="let versiculo of versiculos" [attr.id]="'versiculo-' + versiculo.verse" [ngClass]="{'highlight': isVersiculoFocado(versiculo)}">
      <div class="versiculo" style="display: flex;
    align-items: center;">
    <div class="voz">
      <ion-icon (click)="lerVersiculo(versiculo.text)" name="volume-high" ></ion-icon>
    </div>
      <p>{{ versiculo.verse }}: {{ versiculo.text }}</p>
    </div>
    </ion-card>
  </ion-list>
</ion-content>

