<ion-header>
  <ion-toolbar>
    <ion-title>Bíblia</ion-title>
    <div *ngIf="livroExpandido">{{ livroSelecionado }}</div>
    <ion-buttons slot="end">
      <ion-button routerLink="/">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="filtrarResultados($event)"
      (ionChange)="termoPesquisa()"
      placeholder="Pesquisar livro ou versículo"
      clearInput
    ></ion-searchbar>
  </ion-toolbar>

  <ion-list *ngIf="resultados.length > 0">
    <ion-item *ngFor="let resultado of resultados" (click)="abrirResultado(resultado)">
      {{ resultado }}
    </ion-item>
  </ion-list>

  <ion-accordion-group>
    <ion-accordion *ngFor="let livro of livrosFiltrados" (click)="toggleLivro(livro.name)">
      <ion-card slot="header">
        <div class="titulo">
          <ion-icon (click)="lerVersiculo(livro.name)" name="volume-high"></ion-icon>
          <ion-label>{{ livro.name }}</ion-label>
        </div>
        <div *ngIf="livroExpandido === livro.name">
          <ion-card *ngFor="let capitulo of getCapitulos(livro.capitulos)">
            <div class="titulo">
              <ion-icon (click)="lerVersiculo(livro.name + 'capitulo ' + capitulo)" name="volume-high"></ion-icon>
              <ion-label (click)="abrirModal(capitulo, livro.name)">
                Capítulo {{ capitulo }}
              </ion-label>
            </div>
          </ion-card>
        </div>
      </ion-card>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
