<ion-header>
  <ion-toolbar>
    <ion-title>Bíblia</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/">Voltar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="searchTerm"
      (ionInput)="filtrarResultados($event)"
      (ionChange)="termoPesquisa()"
      placeholder="Pesquisar livro ou versículo"
      clearInput
    ></ion-searchbar>
  </ion-toolbar>

  <ion-list *ngIf="resultados.length > 0">
    <ion-item
      *ngFor="let resultado of resultados"
      (click)="abrirResultado(resultado)"
    >
      {{ resultado }}
    </ion-item>
  </ion-list>
  <ion-accordion-group>
    <ion-accordion *ngFor="let livro of livrosFiltrados">
      <ion-card slot="header" (click)="toggleLivro(livro.name)">
        <div class="titulo">
          <ion-icon (click)="lerVersiculo(livro.name)" name="volume-high"></ion-icon>
          <ion-label>{{ livro.name }}</ion-label>
        </div>
      </ion-card>

      <ion-list slot="content" *ngIf="livroExpandido === livro.name">
        <!-- Capítulos -->
        <ng-container *ngIf="getCapitulos(livro.capitulos) as capitulos">
          <ion-grid>
            <ion-row>
              <ion-col size="3" *ngFor="let capitulo of capitulos">
                <ion-item lines="none">
                  <div class="titulo" style="text-align: center">
                    <ion-label (click)="abrirModal(capitulo, livro.name)">{{ capitulo }}</ion-label>
                  </div>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ng-container>
        <!-- Contexto Histórico -->
        <ion-list>
          <div class="alinha-contexto">
            <ion-icon (click)="lerVersiculo('Contexto Histórico')" name="volume-high"></ion-icon>
            <h1 class="historico-titulo" (click)="obterHistorico(livro.name)">Contexto Histórico</h1>
          </div>
          <ion-icon (click)="lerVersiculo(contextoHistorico)" name="volume-high"></ion-icon>
          <div class="historico" [innerHTML]="contextoHistorico"></div>
        </ion-list>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
