<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Bíblia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let versiculo of versiculos">
      <h2>{{ versiculo.book_name }} {{ versiculo.chapter }}:{{ versiculo.verse }}</h2>
      <p>{{ versiculo.text }}</p>
    </ion-item>
  </ion-list>
</ion-content> -->
<!-- <ion-header>
  <div class="titulo">
    <h1>Palavra de Deus</h1>
    <h3>Alimento para sua Alma</h3>
  </div>
  <img class="background-image" src="../../assets/img/biblia-cruz.jpg" alt="">
</ion-header>

<ion-content>
  <ion-button expand="full" routerLink="/biblia">Leia a Bíblia</ion-button>
</ion-content> -->

<ion-header>
  <div class="titulo">
    <h1>Palavra de Deus</h1>
    <h3>Alimento para sua Alma</h3>
  </div>
  <img class="background-image" src="../../assets/img/biblia-cruz.jpg" alt="">
</ion-header>

<ion-content>
  <ion-button expand="full" routerLink="/biblia">Leia a Bíblia</ion-button>

  <!-- Campo para o sentimento -->
  <!-- <ion-item button (click)="abrirModal()">
    <ion-label position="stacked">Como você está se sentindo?</ion-label>
    <ion-input placeholder="Clique aqui para digitar" readonly></ion-input>
  </ion-item> -->

  <ion-item button (click)="abrirModalEmocoes()">
    <ion-label position="stacked">Como você está se sentindo?</ion-label>
    <ion-input placeholder="Clique aqui para digitar" readonly></ion-input>
  </ion-item>

  <!-- Exibir o versículo baseado no sentimento -->
  <!-- <div *ngIf="versiculoSentimento" class="resultado-versiculo">
    <p>{{ versiculoSentimento }}</p>
  </div> -->
</ion-content>
