#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-header {
  position: relative; /* Permite que os elementos filhos sejam posicionados em relação ao header */
}

.background-image {
  position: absolute; /* Posiciona a imagem atrás do texto */
  top: 0; /* Alinha ao topo do header */
  left: 0; /* Alinha à esquerda do header */
  width: 100%; /* Faz a imagem ocupar toda a largura do header */
  height: 100%; /* Faz a imagem ocupar toda a altura do header */
  object-fit: cover; /* Mantém a proporção da imagem */
  z-index: -1; /* Coloca a imagem atrás do texto */
}

.titulo {
  position: relative; /* Garante que o texto fique na frente da imagem */
  color: white; /* Altera a cor do texto para melhor visibilidade */
  text-align: center; /* Centraliza o texto */
  padding: 20px; /* Adiciona um espaçamento ao redor do texto */
}

h1 {
  color: blue;
}
h3 {
  color: blue;
}

.versiculoDia{
  margin: 0 !important;
  padding: 24px;
  display: flex;
  justify-content: center;
  text-align: justify;
}

.div-sentimento{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
}

.card-sentimento{
  padding: 12px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #000;
}

.titulo-sentimento{
  margin: 24px;
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.card-content-ios{
  padding: 0 !important;
  margin-left: 24px;
  margin-right: 24px;
}
